/*Dark background */
.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .9)), url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


#hero .container {
    height: 50vh;
}



.latest-dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .9)), url('../img/team1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}